.container {
    color: white;
    height: 100vh;
    padding: 0 50px;
    align-content: center;
}

.container form {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width:fit-content;
    padding: 2rem;
    margin: 0 auto;
}

.container input {
    border-radius: 2rem;
    height: 25px;
    margin: auto;
    display: block;
}

.container button {
    border-radius: 2rem;
    color: whitesmoke;
    background-color: darkslategray;
    box-shadow: 0 5px 5px black;
    &:hover {
        color: darkslategray;
        background-color: whitesmoke;
        box-shadow: 0 5px 5px white;
    }
}

.error {
    color: red;
  }